.page {
    background: url(../img/page.jpg);
    background-size: cover;
    height: 100%;
    width: 100%;
    margin: 0px auto;
    position: fixed;
}

.heading {
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header__list {
    list-style: none;
}

.nav__menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__nav {
    list-style: none;
}

.menu__link{
    padding-right: 24px;

}

.menu__link:hover > svg *{
    fill: #3CB878;
  }

.header__logo {
    color: #FFFFFF;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
    text-transform: uppercase;
    padding-left: 79px;
  }

.header__logo:hover {
    color: #3CB878;
}

.nav__text {
    font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 14px;
color: #FFFFFF;
padding-right: 79px;
padding-left: 27px;
border-left: 1px solid rgba(255, 255, 255, 0.4) ;
}

.nav__linl{
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
}
.nav__linl:hover {
    color: #3CB878;
}



.form {
    background-color: #FFFFFF;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
    max-width: 444px;
    max-height: 100vh;
    position: relative; top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    margin-bottom: 74px;
}


.form__login {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form_page {
    width: 324px;
    padding: 31px 60px 38px 60px;
}

.form__login__sign {
    color: #434343;
    font-size: 20px;
    line-height: 20px;
    font-style: normal;
    font-weight: normal;
    display: block;
}

.form__login__sign::before {
    display: block;
    background-color:  #3CB878;
    width: 18px;
    height: 18px;
    content: " ";
    position: absolute;
    left: 0px;
    
}   

.form__login__log {
    color: #3CB878;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    text-decoration: none;
}

.form__login__log:hover {
    text-decoration: underline;
}

.form__login__botton {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form__login__botton__fb {
    background: #305DB8;

}

.form__login__botton__google {
    background: #DF4A32;
   
}
.form__login__botton__img {
    display: flex;
    justify-content: center;
    align-items: center;
}
.botton__log_fg {
    padding: 12px 38px 12px 16px;
}
.botton__log_google {
    padding: 15px 38px 14px 12px;
}

.form__login__text__fb {
    padding-right: 22px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
}

.form__login__text__google {
    color: #FFFFFF;
    font-style: normal;
    font-size: 16px;
    font-weight: normal;
    line-height: 16px;
    padding-right: 27px;
    position: relative;

}


.journey__form__field {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    /* padding-left: 20px; спросить */ 
    border: none;
    outline: none;
    background: #FFFFFF;
    /* color: #BEBEBE; */
    border: 1px solid #F2F2F2;
    border-radius: 4px;
}



.journey__form__field:hover {
    background: #FFFFFF;
box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 14px;
}

::placeholder {

    color: #BEBEBE;
    padding-left: 20px;
}

:hover::placeholder{
    color: #434343;
}

.checkbox__input {
    display: none;
}

.checkbox__input__fake {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #F2F2F2;
    margin-top: 12px;
    position: relative;
}

.checkbox__input__fake::before {
    content: url(..//img/v.svg);
    display: block;
    position: absolute;
    top: 20%;
    left: 10%;
    transform: translate(-10% -10%);
    width: 20px;
    height: 20px;
    opacity: 0;

}

.checkbox__input:checked + .checkbox__input__fake::before {
    opacity: 1;
}


.cb {
    font-size: 14px;
line-height: 14px;
color: #3CB878;
}

.cb:hover {
    text-decoration: underline;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__button {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    margin: 20px 0px 0px 0px;
    padding: 16px 99px;
    border: none;
}
.main__button:focus {
   background: rgba(60, 184, 120, 1);
   border: none;
}

  
.form__login__botton__google {
    position: relative;
}

.img__gl::after {
    position: absolute;
    display: block;
    content: " ";
    width: 1px;
    height: 28px;
    opacity: .1;
    background-color: #0A162F;
    left: 49px;
}

.form__login__botton__fb {
    position: relative;
}

.img__fb::after {
    position: absolute;
    display: block;
    content: " ";
    width: 1px;
    height: 28px;
    opacity: .1;
    background-color:#0A162F;
    left: 48px;

}
.or {
    font-size: 14px;
line-height: 14px;
color: #848484;
margin-top: 0px;
text-align: center;
margin-block-start: 0;
margin-block-end: 0;
margin-bottom: 12px;


}

.or_beauty {
    margin-top: 31px;
    position: relative;
   
}

.or_beauty::after {
    content: " ";
    display: block;
    width: 152px;
    height: 1px;
    background-color: #F2F2F2;
    position: absolute;
    left: 53%;
    top:calc(50% - 0.5px);
    
   
}
.or_beauty::before {
    content: " ";
    display: block;
    width:152px;
    height: 1px;
    background-color: #F2F2F2;
    position: absolute;
    top:calc(50% - 0.5px);
}

