body {
    background-color: rgb(20, 20, 20);
    overflow: hidden;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    margin: 15% 0 0 0;
    
}

.body::after{
    content: "";
    position: fixed;
    top: 0;
    width: 100%;
    height: 50%;
    background:linear-gradient(180deg, rgba(20, 20, 20, 1) 40%, rgba(20, 20, 20, 0) 100%);
}

.wraper {
    display: flex;      
    height: 100%;
    width: 60%;
    margin: 0 auto;
    perspective: 450px; 
}

.skrol__text {
    color: rgb(204, 248, 7);

    font-size: 5vh ;
    line-height: 1.5em;
    font-weight: bold;
    text-align: justify;
    position: relative;
    animation: scroll 100s; 
    animation-duration: scroll 10s ;
    position: relative;
    
}

h1, h2 {
    text-align: center;
}

@keyframes scroll {
    0% { top: 0; transform: translateZ(0px) rotateX(20deg);
    }
    100%{ top: -7000px; transform: translateZ(-2500px) rotateX(19deg);
    }
}