.container{
    max-width: 1280px;   
    font: roboto;
    margin: 0px auto;
}



.logo__header {
    display: flex;
    margin-top: 63px;
    list-style-type: none;
 
}

a[class = "logo__header__link"] {
    text-decoration: none;
    color: #000000;
}

.logo__header__link {
    font-size: 80px;
    line-height: 94px;

    }

.logo__header__link_color {
    color: #33ccff
}

.top__menu {
    background-color: #35444F;
    margin-bottom: 48px;
    display: flex;
    justify-content: center;
}

.top__navigation__menu {
    list-style-type: none;
    display: flex; 
    font-size: 24px;
    padding: 0px;
    margin: 0px;
    justify-content: center;
}

.top__menu__item {
    margin-top: 26px;
    margin-bottom: 19px;
}

a[class = "top__nav__link"] {
    text-decoration: none;
    color: #FFFFFF;
   
    padding: 26px 30px 19px;
    border: 1px solid #FFFFFF;
}

a[class = "top__nav__link"]:hover {
    background: #222F3A
}


.main__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-start;

}

.side__menu {
    background-color: #FFFFFF;
    border: 1px solid #000000;
    width: 338px;
  
}

.side__menu__item {
    list-style-type: none;
    display: flex; 
    flex-direction: column;
    margin: 0px;
   
    
}

.side__navigation__menu {
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin-block-start: 0px;
    margin-block-end: 0px;
    padding-inline-start: 0px;
}

a[class = "side__nav__link"] {
    text-decoration: none;
    color: #485863;
    margin: 0px;
    padding:0px
    border: 1px solid #FFFFFF;
    font-size: 27px;
    line-height: 27px;
    padding: 26px 82px 26px 44px;
}

a[class = "side__nav__link"]:hover {
    background: #DBDBDB;
    color: #35444F;
    padding: 26px 70px 26px 56px;
}

.picture {
    display: flex;
    height: 529px;
    width: 885px;
    border: 1px solid #000000;
    justify-content: center;
    align-items: center;
    margin-left: 52px;
}

.img__logo {
    transition: 2.5s;
}
.img__logo:hover {
    transform: scale(1.2);
}

.article__content {
    display: flex;
    flex-direction: column;
    width: 885px;
}


.article__content__paragraph {
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-top: 37px;
    margin-bottom: 34px;
 
}

.article__content__paragraph2 {
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-bottom: 54px;
}

.footer__content{
    margin-bottom: 30px;

}

.lower__navigation__menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #b4b7b9;
    list-style: none;
    font-size: 28px;
    line-height: 28px;
    margin-block-start: 0px;
    margin-block-end: 0px;
    padding-inline-start: 0px;
}


.lower__nav__link {
color: #0C1927;
text-decoration: none;

}

.lower__menu__item {
    text-decoration: none;
    padding-top: 20px;
    padding-bottom: 21px;
}
a[class = "lower__nav__link"] {
    text-decoration: none;
    color:  #0C1927;
}

.copyright {
    font-size: 24px;
    line-height: 24px;
    color: #010101;
    
    }

a[class = "lower__nav__link"]:hover {
color: #33ccff;
padding-bottom: 6px;
border-bottom:1px solid #33ccff;

}


