.page {
    font-family: sans-serif;
    background-image: url(../img/background.png);
    background-size: cover;
    height: 100%;
}

.container {
    margin: 0 auto;
    max-width: 1025px;
   
}


.mail {
    text-align: right;
    padding-top: 46px;

}

.our_mail {
    text-decoration: none;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    
}

.our_mail:hover {
    color: #F26522;
}

.log {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.log:hover .logo__title__milan {
    color: #F26522;
    
}

.log:hover .logo__title__holiday {
    color: #F26522;
}

.log:hover .logo_img {
    content: url(../img/logo_2.png);
}

.tel {
    text-align: right;
    margin-bottom: 17px;
}
.our_tel {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 18px;
    line-height: 18px;
}

.our_tel:hover {
    color: #F26522;
}

.logo__title {
    display: flex;
    flex-direction: column;
}

.logo__title:hover{
    color: #F26522;
}

.logo__title__milan {
    color: #FFFFFF;
    font-weight: bold;
    font-style: normal;
    font-size: 29px;
    line-height: 29px;
}

.logo__title__holiday {  
    color: #FFFFFF;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
   
}

/* main */
.container {
    max-width: 1025px;
}

.post__card__tours {
    text-decoration: none;
    
}
.post__card {
    list-style: none;
    position: relative; 
    

}

.tours{
    display: grid;
	grid-template-columns: repeat(3, auto);
    align-items: center;
    justify-content: center;
    gap: 50px;
	max-width: 1025px;
	margin: 0 auto;
    padding: 0px;
    
  
}

.post__card__text{
    margin-block-start: 0px;
    margin-block-end: 0px;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 20px;
   
}

.post__card__hover {
    background-color: #F26522;
    width: 300px;
    height: 55px;
    opacity: 0;
    position: absolute;
    bottom: 41px;
    transition: 200ms;
} 

.text__hover {
    color: #FFFFFF;
    font-size: 10px;
    line-height: 10px;
    padding-top: 7px;
    padding-left: 16px;
}

.price__hover {
    color: #FFFFFF; 
    font-size: 20px;
    line-height: 20px;
    padding-top: 8px;
    padding-left: 16px;
    padding-bottom: 12px;
}

.detail__hover {
    color: #FFFFFF;
    font-size: 14px;
    line-height: 14px;
    padding-top: 8px;
    padding-right: 37px;
    padding-bottom: 12px;
    
}

.detail__hover::after {
    content: url(../img/logo.svg);  
    padding-top: 31px;
    padding-left: 16px;
    padding-bottom: 14px;
    vertical-align: middle;
}


.price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post__card:hover .post__card__text {
    color: #F26522;
    transition: 0.5s;
}
.post__card:hover .post__card__hover {
   opacity: 1;
   transition: 0.5s;
}
/* main end */

.footer__typo {
    color: #FFFFFF;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    margin-top: 49px;
    text-align: center;
    padding-bottom: 15px;
}