.container {
    font: open sans;
    margin: 0px auto; 
    max-width: 1200px;
}

 /* Страница 1 */

.page__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #313131;
    margin-block-start: 0px;
    margin-block-end: 0px;
    padding-inline-start: 0px;
}

.menu__logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding-inline-start: 0px;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.nav_list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline-start: 0px;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.logo__img {
    padding-right: 20px;
}

.logo {
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    color: #FFFFFF;
   
}


.nav__link {
font-size: 15px;
line-height: 20px;
text-transform: uppercase;
color: #FFFFFF;
text-decoration: none;
}

.nav__link:hover {
    color: #14B9D5;
}


.nav__item + .nav__item {
    padding-left: 20px;
}

.icon {
    background: #000000;
    padding: 27px 26px;
}
    
.search__list {
    list-style: none;
    margin-block-start: 0px;
    margin-block-end: 0px;
    padding-inline-start: 0px;
    margin-block-start: 0px;
    padding-inline-start: 0px;
}

.search {
    color: #FFFFFF;

}

.content {
    background: url("../img/header-bg.jpeg") no-repeat; 
    height: 374px;
    background-size: 100%;
} 

.news {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block-start: 0px;
    margin-block-end: 0px;
    font-size: 0px;
    padding-top: 164px;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    color: #FFFFFF;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.subscribe {
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    padding: 16px 19px 17px;
    background: #89CA62;
    border: none;
    border-radius: 10px;
    margin-right: 10px;
    margin-top: 60px;
}

.articles {
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    padding: 16px 29px 17px 30px;
    border: none;
    border-radius: 10px;
    margin-top: 60px;
    background: #14B9D5;
    margin-left: 10px;
}

/* Конец первой страницы */


/* Страница 2 */

.popular__posts {
    background: #F2F2F2;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.sections {
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    color:  #18B4CF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block-start: 0px;
    margin-block-end: 0px;
    padding-top: 49px;
    padding-bottom: 52px;
    text-transform: uppercase;
}

.buildings__list {
    height: 948px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin-block-start: 0px;
    margin-block-end: 0px;
    padding-inline-start: 0px;
    list-style: none;
    }


 .img__caption {
    font-weight: bold;
    font-size: 18px;
    background: #FFFFFF;
    color: #353A3D;
    display: flex;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
    align-items: center;
    justify-content: center;
    padding: 21px 23px;
    line-height: 25px;
    }
/* Конец второй страницы */

/* Начало третьей страницы */
.clients__lists {
    list-style: none;
    margin-block-start: 0px;
    margin-block-end: 0px;
    padding-inline-start: 0px;
}
.clients__logo {
    list-style-image: none;
}

.clients {
    background: url("../img/parallax-bg.jpeg") no-repeat; 
    background-size: 100%;
    display: grid;
    grid-auto-flow: row;
    justify-items: center;
    gap: 10px;

}

.sections__popular__clients {
font-weight: bold;
font-size: 32px;
line-height: 44px;
text-transform: uppercase;
color: #FFFFFF;
padding-top: 106px;
margin-block-start: 0px;
margin-block-end: 0px;
margin-bottom: 196px;
}

.clients__lists {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-block-start: 0px;
    margin-block-end: 0px;
    padding-inline-start: 0px; 
    gap: 58px;
    align-items: center;
    padding-bottom: 192px;
}
 
/* Конец третьей страницы-->

<Начало четвертой страницы--> */

.top__rated {
    text-align: center;
}
.top__rated__lists {
    list-style: none;
    margin-block-start: 0px;
    margin-block-end: 0px;
    padding-inline-start: 0px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

img{
    width: 100%;
}
/* Конец четвертой страницы-->

<Начало пятой страницы--> */
.hot__news__lists {
    list-style: none;
    margin-block-start: 0px;
    margin-block-end: 0px;
    padding-inline-start: 0px;
    display: grid;
    grid-template-columns: (4, 210px);
    grid-template-rows: (4, 1fr);
    grid-template-areas: 
    "a a a b"
    "c c d d"
    "e e f f"
    "g i i i";
    gap: 35px;
}

.emirate__news__items {
    grid-area: a;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    max-height: 259px;
   
}

.spain__news__lists {
    grid-area: b;
    display: flex;
    flex-direction: column;
    max-width: 277px;
    
}
.egypt__news__items {
    grid-area: c;
    max-width: 554px;
}

.maldivesx__news__items {
    grid-area: d;
    max-width: 554px;
}
.tenerife__news__items {
    grid-area: e;
    max-width: 554px;
}
.great__britain__news__items {
    grid-area: f;
    max-width: 554px;
}

.ireland__news__lists{
    grid-area: g;
    max-width: 277px;
}

.resort__spain__news__items {
    grid-area: i;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    max-height: 259px;
   

}

.article__title {
    margin-block-start: 0px;
    margin-block-end: 0px;
    padding-inline-start: 0px;
    font-weight: bold;
    line-height: 25px;
    font-size: 18px;
    color: #353A3D;
    text-align: end;
}
.article__text {
    margin-block-start: 0px;
    margin-block-end: 0px;
    padding-inline-start: 0px;
    font-weight: 600;   
    font-size: 14px;    
    line-height: 21px;
    color: #5B6469;
    text-align: end;

}
.article__title__center {
    text-align: center;
}
.article {
background: #ffffff;
box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
align-self: stretch;
}
.article__title_big{
    padding-top: 44px;
    padding-bottom: 16px;
}

.article__text {
    padding-top: 15px;
  padding-bottom: 55px;
}

.article__title__center {
   margin-block-start: 0px;
    margin-block-end: 0px;
    padding-top: 15px;
    padding-bottom: 13px;
}

/* конец пятой строки */
.footer__content {
    background: #000000;
}
.footer__rights {
    font-size: 13px;
line-height: 13px;
color: #FFFFFF;
margin: 0px;
margin-left: 300px;
}
.all__rights__reserved {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__logo__list {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 29px;
    margin-bottom: 35px;
    margin-right: 300px;
}