.container {
    font: open sans;
    margin: 0px;
}

 /* Страница 1 */

.page__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #313131;
    margin-block-start: 0px;
    margin-block-end: 0px;
    padding-inline-start: 0px;
    width: 100%;
}

.menu__logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding-inline-start: 0px;
    margin-block-start: 0px;
    margin-block-end: 0px;
    

}

.nav_list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline-start: 0px;
    margin-block-start: 0px;
    margin-block-end: 0px;
   
}

.logo__img {
padding-right: 20px;
}

.logo {
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    color: #FFFFFF;
   
}


.nav__link {
font-size: 15px;
line-height: 20px;
text-transform: uppercase;
color: #FFFFFF;
text-decoration: none;
}

.nav__link:hover {
    color: #14B9D5;
}


.nav__item + .nav__item {
    padding-left: 20px;
}

.icon {
    background: #000000;
    padding: 27px 26px;
}
    
.search__list {
    list-style: none;
    margin-block-start: 0px;
    margin-block-end: 0px;
    padding-inline-start: 0px;
    margin-block-start: 0px;
    padding-inline-start: 0px;
}

.search {
    color: #FFFFFF;

}

.content {
    background: url("../img/header-bg.jpeg") no-repeat; 
    height: 374px;
    background-size: 100%;
} 

.news {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block-start: 0px;
    margin-block-end: 0px;
    font-size: 0px;
    padding-top: 164px;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    color: #FFFFFF;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.subscribe {
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    padding: 16px 19px 17px;
    background: #89CA62;
    border: none;
    border-radius: 10px;
    margin-right: 10px;
    margin-top: 60px;
}

.articles {
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    padding: 16px 29px 17px 30px;
    border: none;
    border-radius: 10px;
    margin-top: 60px;
    background: #14B9D5;
    margin-left: 10px;
}

/* Конец первой страницы */