.page {
    margin: 0;
    padding: 0;
    width: 100%;

}
a[class = "menu__content"] {
    text-decoration: none;
    color: #FF0000;
}

.navigation__menu {
    text-align: center;
    vertical-align: middle;
    padding-inline-start: 0;
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;



}
.menu__item {
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
    padding: 0px;
    align-items: center;
    margin-top: 26px;
    margin-bottom: 26px;
}
.menu__item + .menu__item{
    margin-left: 72px;
}

.main__picture {
    width: 100%;
    margin-bottom: 29px;
}

.caption__article {
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    text-transform: uppercase;
    color: #373737;
    letter-spacing: 3px;
    text-align: center;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-bottom: 38px;
}

.article__content {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2px;
    color: #373737;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-left: 68px;
    margin-right: 68px;
}

.article__content__paragraph {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-bottom: 28px;
}
.article__content__paragraph2 {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-bottom: 66px;
}

.button {
    text-align: center;
}
.button__start {
    background: #FF0000;
    border-radius: 4px;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 18px 44px 17px 43px;
    text-align: center;
    border-width: 0px;
}
.copyright {
    text-align: right;
}

.copyright__text {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2px;
    color: #373737;
    margin-block-start: 0;
    margin-block-end: 0;
    display: inline-block;
    vertical-align: middle;
    margin: 82px 105px 29px auto;
}



